:root{
    --white_text : rgb(255,255,255);
    --grey-background : rgba(218, 218, 218, 0.5);
    --black-background : rgba(0,0,0);
    --green-button : #596D48;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-background);
}

.main-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    width: 90vw;

    
    
}

.left-side {
    background-image: url(jonny-caspari-VdiaqFBqajo-unsplash.jpg);
    background-position: right;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;
    width: 40%;

    /*border-radius: 10%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.left-container {
    height: fit-content;
    width: 100%;
    padding: 10px;

    /*background-color: rgba(218, 218, 218, 0.8);*/

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: var(--white_text);
    font-size: 0.8rem;
    
}

.left-container img {
    height: auto;
    width: 1.5rem;
}

.left-quote{
    font-style: italic;
    padding: 10px;
}

.left-quote a {
    text-decoration: none;
    color: black;
}

.left-quote a:hover {
    color: blue;
}

/*Right Side*/

.right-side {
    width: 60%;
      
}

.right-quote{
    background-color: var(--black-background);

    width:100% ;
    height: 50%;
    padding: 1rem;

    display: flex;
    align-items:center ;
    justify-content: center;

    color: var(--white_text);
    font-size: 1rem;
    font-style: italic;
    
}


.right-form{
   
    width:100% ;
    height: 50%;

    
    padding: 10px 0;
    margin: 0.1rem;
    
    background-color: white;
}

.segment{
    box-shadow: 2px 2px 5px 1px rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segment p{
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.1rem;
}

.right-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.surround-form{
    display: grid;
    grid-template-columns: 50% 1fr; /* Two columns: 30% for labels and 1fr for input fields */
    align-items: center; /* Vertically center elements */
    gap: 10px; /* Add some spacing between label and input */

    font-size: 0.5rem;
    padding: 20px;
}

.input{
    width: 45%;
    gap: 0.2rem;
    text-transform: uppercase;
    opacity: 50%;
}

.input:focus{
    border: black 1px solid;
}

.input:invalid{
    border-color: red;
}

.right-form button{
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px 50px;
    border-radius: 5%;

    background-color: var(--green-button);
    color: var(--white_text);
    border: #596D48;
    font-weight: 700;
}

.right-form button:hover{
    background-color: var(--white_text);
    color: var(--green-button);
    border: black 1px solid;
}

.log{
    margin-top: 30px;
    margin-left: 30px;
}

.log-in{
    color: var(--green-button);
    font-weight: 700;
}

.log-in:hover{
    color: black;
}




/* Media query for smaller screens */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column; /* Change the flex direction to column */
    }

    .right-side {
        width: 100%; /* Make the right-side take full width on smaller screens */
    }

    .left-side{
        width: 100%;
        height: 20vh;
        
        display: flex;
        justify-content: space-between;
        align-items:start ;
    }

    .left-container{
        font-size: 0.4rem;
        width: 50%;
    }

    .left-container img {
        height: auto;
        width: 0.5rem;
    }

    .left-quote{
        font-style: italic;
        font-size: 0.5rem;
    }

    .segment{
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--white_text);
    }

    .surround-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.5rem;
    }

    .right-form button{
        position: relative;
        left: 25%;
    }
}
